<a href="https://colab.research.google.com/github/Saaanu/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Sanubar
What is your age? 21
Your name is Sanubar. Your age is 21

In [29]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("These numbers are equal")
else:
  print("These numbers are not equal")

These numbers are not equal

In [30]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("a is greater than b")
if(a==b):
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

In [31]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [32]:
#Q5-Using while loop, print 5,4,3,2,1
k=5
while(k>0):
  print(k)
  k=k-1

5
4
3
2
1

In [33]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if(k!=8):
    print(k)

10
6
4
2
0

In [36]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

from datetime import date

def age(birth_year):
  current_year = date.today().year
  current_age = current_year - birth_year
  return current_age

print(age(1944))

78

In [37]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(a,b):
    return a+b

  def substraction(a,b):
    return a-b

  def multiplication(a,b):
    return a*b

  def division(a,b):
    return a/b

print(arithmetic.addition(84,65))
print(arithmetic.substraction(84,65))
print(arithmetic.multiplication(84,65))
print(arithmetic.division(84,65))

149
19
5460
1.2923076923076924

In [38]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

n = 18
sum = 0
for n in range(1,19):
  sum = sum + n

print('Sum of first',n,'numbers is:',(sum))

Sum of first 18 numbers is: 171

In [18]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 

import random

rand_list=[]
for i in range(10):
  rand_list.append(np.random.rand())

rand_list[:3]

[0.777848422330685, 0.002655279472355332, 0.4336606824421245]

In [27]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))

def result(n):
  for i in range(1,n+1):
    if i %3==0:
      print(str(i)+" ",end="")
    else:
      pass

if __name__=="__main__":
  n=15
  result(n)

3 6 9 12 15